@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monstserrat", sans-serif;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #fff;
  z-index: 111;
  width: 100%;
  top: 0;
}
.header-icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header-center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header-center > input {
  border: none;
  outline: none;
  padding: 10px;
  /* width: 250px; */
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
.header-right p {
  font-weight: 600;
}

/* Banner */
.banner {
  background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg")
    center center;
  height: 50vh;
  position: relative;
}
.banner-search {
  display: flex;
  flex-direction: column;
}

.search {
  position: absolute;
  top: 35px;
  left: 28%;
  width: 100vw;
}
.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 12px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 345px;
}
.search > input {
  width: 560px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 380px;
  border: none;
  outline: none;
}
.search > button {
  position: absolute;
  left: 0;
  top: 420px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: #fff;
  width: 560px;
}
.search > button:hover {
  background-color: #fff;
  color: #ff7779;
  border: 1px solid #ff7779;
}

.banner-searchBtn {
  background-color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}
.banner-info {
  background-color: black;
  color: #fff;
  padding-top: 20vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 28px;

  width: 375px;
}
.banner-info > button {
  background-color: #ff7779;
  color: #fff;
  text-transform: inherit;
  margin-top: 40px;
  font-weight: 600;
}
.banner-info > button:hover {
  background-color: #fff;
  color: #ff7779;
}
.banner-info > h5 {
  margin-top: 10px;
}

/* Home section */
.home_section {
  display: flex;
  padding: 40px;
}

/* Cards */
.card {
  margin: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.07);
}
.card > img {
  object-fit: fill;
  min-width: 350px;
  max-height: 280px;
  width: 100%;
}
.card-info {
  margin-left: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}
.card-info > h2 {
  font-weight: 600;
  font-size: 20px;
}
.card-info > h4 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Footer */
.footer {
  border-top: 1px solid lightgray;
  padding: 20px;
  background-color: #f7f7f7;

  text-align: center;
}
.footer > p {
  padding: 5px;
  font-size: 16px;
}

/* Search Page */
.searchPage-info {
  padding: 20px;
}
.searchPage-info > p {
  margin-bottom: 10px;
  font-size: 16px;
}
.searchPage-info > h1 {
  margin-bottom: 20px;
}
.searchPage-info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

/* search result */
.search-result {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  opacity: 1;
  cursor: pointer;
}
.search-result:hover {
  opacity: 0.8;
}
.search-result > img {
  height: 250px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.serchResult-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.search-heart {
  position: absolute;
  top: 20px;
  right: 40px;
}
.searchResult-infoTop {
  width: 40vw;
}
.searchResult-infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}
.searchResult-infoTop > p {
  font-size: 15px;
  margin-top: 10px;
  color: gray;
}
.searchResult-infoBottom {
  display: flex;
  justify-content: space-between;
}
.search-star {
  color: red;
}
.search_starIcon {
  display: flex;
  align-items: center;
}
.search-price > p {
  text-align: right;
}
.search-price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
